<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Home</title>
	<link rel="stylesheet" href="~/Styles/style.css" />
	<link rel="stylesheet" href="~/Styles/feedback.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
	<header class="page-header">
        <nav class="page-navigation">
            <h1 class="page-heading">
                <a href="/" class="home-link">
                    <img src="~/Images/Icons/site-logo.svg" alt="" width="22" height="22" />
                    Master Food
                </a>
            </h1>
            <ul class="nav-menu">
                <li><a href="/Home" class="nav-link">home</a></li>
                <li><a href="/Dashboard" class="nav-link">dashboard</a></li>
                <li><a href="/Services" class="nav-link">services</a></li>
                <li><a href="/FindFood" class="nav-link">find food</a></li>
                <li><a href="/#about-us" class="nav-link">about us</a></li>
            </ul>
            <button class="auth-btn"> login/signup </button>
        </nav>
	</header>
	<main class="page-main">
		<section class="landing-banner">
			<h2 class="landing-banner-heading">We Would Like To Hear From You</h2>
			<p class="landing-banner-description">
				<span>
					Let us know what's your overall experience using over services.
				</span>
				<span>
					We're a welcoming bunch here. Feel free to let us know your thoughts and feelings below.
				</span>
			</p>
		</section>
		<section class="collect-customer-feedback">
			<span class="satisfaction-query">How satisfied are you using our services?</span>
			<div class="satisfaction-scale-wrapper">
				<input class="satisfaction-scale" type="range" min="0" max="10" list="numberline"/>
				<datalist id="numberline" class="numberline">
					<option value="0" label="0"></option>
					<option value="1" label="1"></option>
					<option value="2" label="2"></option>
					<option value="3" label="3"></option>
					<option value="4" label="4"></option>
					<option value="5" label="5"></option>
					<option value="6" label="6"></option>
					<option value="7" label="7"></option>
					<option value="8" label="8"></option>
					<option value="9" label="9"></option>
					<option value="10" label="10"></option>
				</datalist>
			</div>
			<textarea class="feedback-input-box" cols="30" rows="10" placeholder="Drop your feedback here!.."></textarea><br/>
			<button class="send-feedback-btn">Send Feedback</button>
		</section>
	</main>
	<script type="module" src="~/Scripts/feedback.js"></script>
</body>
</html>