@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Home</title>
	<link rel="stylesheet" href="~/Styles/style.css" />
	<link rel="stylesheet" href="~/Styles/services.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header class="page-header">
        <nav class="page-navigation">
            <h1 class="page-heading">
                <a href="/" class="home-link">
                    <img src="~/Images/Icons/site-logo.svg" alt="" width="22" height="22" />
                    Master Food
                </a>
            </h1>
            <ul class="nav-menu">
                <li><a href="/Home" class="nav-link">home</a></li>
                <li><a href="/Dashboard" class="nav-link">dashboard</a></li>
                <li><a href="/FindFood" class="nav-link">find food</a></li>
                <li><a href="/Feedback" class="nav-link">feedback</a></li>
                <li><a href="/#about-us" class="nav-link">about us</a></li>
            </ul>
            <button class="auth-btn"> login/signup </button>
        </nav>
    </header>
    <main class="page-main">
        <section class="landing-banner">
            <h2 class="landing-banner-caption">Put Your Restaurant Online</h2>
            <p class="landing-banner-description">
                Reach out to customers all over the word<br />
                Get your food delivered over the internet.<br />
                We can help you with putting your business online. Join now!
            </p>
            <button class="learn-more-btn">
                Learn More
            </button>
        </section>

        <section class="service-options">
            <div class="service-option">
                <h3 class="service-option-heading">Vendor</h3>
                <p class="service-option-details">
                    Are you a self employed vendor who sells local cusines? We're delighted to put your efforts online. Create a vendor account and reach out to millions of customers all around the world!
                </p>
                <form action="#" class="service-form vendor-service-form" novalidate>
                    <div class="service-field-wrapper">
                        <label class="service-form-label vendor-name-label" for="vendor-name-input">
                            vendor name <br /><span class="error-message">hey yo! you suck!..</span>
                        </label>
                        <input type="text" id="vendor-name-input" class="service-form-input vendor-name-input" minlength="3" maxlength="50" pattern="[_a-zA-Z][_ a-zA-Z0-9]+" required />
                    </div>
                    <div class="service-field-wrapper">
                        <label class="service-form-label vendor-password-label" for="vendor-password-input">
                            vendor password <br /><span class="error-message"></span>
                        </label>
                        <input type="password" id="vendor-password-input" class="service-form-input vendor-password-input" minlength="6" maxlength="50" required />
                    </div>
                    <div class="service-field-wrapper">
                        <label class="service-form-label vendor-email-label" for="vendor-email-input">
                            vendor email <br /><span class="error-message"></span>
                        </label>
                        <input type="email" id="vendor-email-input" class="service-form-input vendor-email-input" minlength="6" maxlength="50" required />
                    </div>
                    <div class="service-field-wrapper">
                        <label class="service-form-label vendor-address-label" for="vendor-address-input">
                            vendor address <br /><span class="error-message"></span>
                        </label>
                        <input type="text" id="vendor-address-input" class="service-form-input vendor-address-input" minlength="6" pattern="[_a-zA-Z][_ a-zA-Z0-9,\-]+" required />
                    </div>
                    <div class="service-field-wrapper">
                        <label class="service-form-label vendor-bank-acc-no-label" for="vendor-bank-acc-no-input">
                            vendor bank acc.no <br /><span class="error-message"></span>
                        </label>
                        <input type="text" id="vendor-bank-acc-no-input" class="service-form-input vendor-bank-acc-no-input" minlength="6" maxlength="50" pattern="[_a-zA-Z][_ a-zA-Z0-9,\-]+" required />
                    </div>
                    <button class="service-form-submit-btn vendor-submit-btn" type="submit">Register</button>
                </form>
                <span class="already-registered">
                    Already have a vendor account?
                    <a href="/Auth" class="login-link vendor-login-link">login</a>
                </span>
            </div>
            <div class="service-option">
                <h3 class="service-option-heading">Restaurant</h3>
                <p class="service-option-details">
                    Are you a runnng a restaurant and thinking of putting your business online? Well think no more. Create a restaurant account and reach out to millions of customers all around the world!
                </p>
                <form action="#" class="service-form restaurant-service-form" novalidate>
                    <div class="service-field-wrapper">
                        <label class="service-form-label restaurant-name-label" for="restaurant-name-input">
                            restaurant name <br /><span class="error-message"></span>
                        </label>
                        <input type="text" id="restaurant-name-input" class="service-form-input restaurant-name-input" minlength="3" maxlength="50" required />
                    </div>
                    <div class="service-field-wrapper">
                        <label class="service-form-label restaurant-service-form-password-label" for="restaurant-password-input">
                            restaurant password <br /><span class="error-message"></span>
                        </label>
                        <input type="password" id="restaurant-password-input" class="service-form-input restaurant-password-input" minlength="6" maxlength="50" required />
                    </div>
                    <div class="service-field-wrapper">
                        <label class="service-form-label restaurant-email-label" for="restaurant-email-input">
                            restaurant email <br /><span class="error-message"></span>
                        </label>
                        <input type="email" id="restaurant-email-input" class="service-form-input restaurant-email-input" minlength="6" maxlength="50" required />
                    </div>
                    <div class="service-field-wrapper">
                        <label class="service-form-label restaurant-service-label" for="restaurant-address-input">
                            restaurant address <br /><span class="error-message"></span>
                        </label>
                        <input type="text" id="restaurant-address-input" class="service-form-input restaurant-address-input" minlength="6" required />
                    </div>
                    <div class="service-field-wrapper">
                        <label class="service-form-label restaurant-bank-acc-no-label" for="restaurant-bank-acc-no-input">
                            restaurant bank acc.no <br /><span class="error-message"></span>
                        </label>
                        <input type="text" id="restaurant-bank-acc-no-input" class="service-form-input restaurant-bank-acc-no-input" minlength="6" maxlength="50" required />
                    </div>
                    <button class="service-form-submit-btn restaurant-submit-btn" type="submit">Register</button>
                </form>
                <span class="already-registered">
                    Already have a restaurant account?
                    <a href="/Auth" class="login-link restaurant-login-link">login</a>
                </span>
            </div>
        </section>
        <section class="add-food-item">
            <label class="food-item-image-label">
                <input class="food-item-image-input" type="file" hidden />
            </label>
            <div class="type-price-wrapper">
                <div class="food-item-type-wrapper">
                    <div class="food-item-type" contenteditable>breakfast</div>
                    <ul class="food-items-types">
                        <li class="food-type-list-items">
                            <a href="javascript: void 0">breakfast</a>
                        </li>
                        <li class="food-type-list-items">
                            <a href="javascript: void 0">lunch</a>
                        </li>
                        <li class="food-type-list-items">
                            <a href="javascript: void 0">dinner</a>
                        </li>
                        <li class="food-type-list-items">
                            <a href="javascript: void 0">dessert</a>
                        </li>
                        <li class="food-type-list-items">
                            <a href="javascript: void 0">shake</a>
                        </li>
                    </ul>
                </div>
                <div class="food-item-price" contenteditable>20</div>
            </div>
            <h2 class="food-item-name" contenteditable>Tomato Salad</h2>
            <p class="food-item-description" contenteditable>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore odit dolorem qui ducimus? Dolor, expedita! Ullam perferendis, accusamus quod quasi sapiente beatae voluptatibus asperiores non ab veritatis amet eum id iusto, ipsam dolore ratione perspiciatis numquam nemo dolorum rem facilis.
            </p>
            <button class="add-to-menu-btn">add to menu</button>
        </section>
    </main>
    <dialog class="message-box">

        <time datetime="@DateTime.Now.ToString()">
            Last updated on @DateTime.Now.ToString("D")
        </time>

        <p>
            This Privacy Policy ("Policy") describes the policies and procedures on the collection, use, disclosure and protection of your information when you use our website located at masterfood.com, or Master Food Private Limited ("Master Food", "Company", "we", "us" and "our"),  a private company established under the laws of India.
        </p>

        <p>
            The terms "you" and "your" refer to the user of the Master Food Platform. The term "Services" refers to any services offered by Master Food whether on the Master Food Platform or otherwise.
        </p>

        <p>
            Please read this Policy before using the Master Food Platform or submitting any personal information to Master Food. This Policy is a part of and incorporated within, and is to be read along with, the Terms of Use.
        </p>

        <h4>Your Consent</h4>

        <p>By using the Master Food Platform and the Services, you agree and consent to the collection, transfer, use, storage, disclosure and sharing of your information as described and collected by us in accordance with this Policy.  If you do not agree with the Policy, please do not use or access the Master Food Platform.</p>


        <h4>Policy Changes</h4>

        <p>We may occasionally update this Policy and such changes will be posted on this page. If we make any significant changes to this Policy we will endeavour to provide you with reasonable notice of such changes, such as via prominent notice on the Master Food Platform or to your email address on record and where required by applicable law, we will obtain your consent. To the extent permitted under the applicable law, your continued use of our Services after we publish or send a notice about our changes to this Policy shall constitute your consent to the updated Policy.</p>


        <h4>Links to Other Websites</h4>

        <p>The Master Food Platform may contain links to other websites. Any personal information about you collected whilst visiting such websites is not governed by this Policy. Master Food shall not be responsible for and has no control over the practices and content of any website accessed using the links contained on the Master Food Platform. This Policy shall not apply to any information you may disclose to any of our service providers/service personnel which we do not require you to disclose to us or any of our service providers under this Policy.</p>


        <h4>Information we collect from you</h4>

        <p>Device Information: In order to improve your app experience and lend stability to our services to you, we may collect information or employ third party plugins that collect information about the devices you use to access our Services, including the hardware models, operating systems and versions, software, file names and versions, preferred languages, unique device identifiers, advertising identifiers, serial numbers, device motion information, mobile network information, installed applications on device and phone state. The information collected thus will be disclosed to or collected directly by these plugins and may be used to improve the content and/or functionality of the services offered to you. Analytics companies may use mobile device IDs to track your usage of the Master Food Platform;</p>


        <h4>COOKIES</h4>

        <p>Our Master Food Platform and third parties with whom we partner, may use cookies, pixel tags, web beacons, mobile device IDs, "flash cookies" and similar files or technologies to collect and store information with respect to your use of the Services and third-party websites.</p>


        <p>Cookies are small files that are stored on your browser or device by websites, apps, online media and advertisements. We use cookies and similar technologies for purposes such as:</p>

        <p>
            Authenticating users;<br />
            Remembering user preferences and settings;<br />
            Determining the popularity of content;<br />
            Delivering and measuring the effectiveness of advertising campaigns;<br />
            Analysing site traffic and trends, and generally understanding the online behaviours and interests of people who interact with our services.
        </p>

        <p>A pixel tag (also called a web beacon or clear GIF) is a tiny graphic with a unique identifier, embedded invisibly on a webpage (or an online ad or email), and is used to count or track things like activity on a webpage or ad impressions or clicks, as well as to access cookies stored on users' computers. We use pixel tags to measure the popularity of our various pages, features and services. We also may include web beacons in e-mail messages or newsletters to determine whether the message has been opened and for other analytics.</p>


        <p>To modify your cookie settings, please visit your browser's settings. By using our Services with your browser settings to accept cookies, you are consenting to our use of cookies in the manner described in this section.</p>

        <p>We may also allow third parties to provide audience measurement and analytics services for us, to serve advertisements on our behalf across the Internet, and to track and report on the performance of those advertisements. These entities may use cookies, web beacons, SDKs and other technologies to identify your device when you visit the Master Food Platform and use our Services, as well as when you visit other online sites and services.</p>


        <p>Please see our Cookie Policy for more information regarding the use of cookies and other technologies described in this section, including regarding your choices relating to such technologies.</p>

        <h4>Uses of your information</h4>

        <p>We use the information we collect for following purposes, including:</p>

        <p>
            To provide, personalise, maintain and improve our products and services, such as to enable deliveries and other services, enable features to personalise your Master Food account;<br />
            To carry out our obligations arising from any contracts entered into between you and us and to provide you with the relevant information and services;<br />
            To administer and enhance the security of our Master Food Platform and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;<br />
            To provide you with information about services we consider similar to those that you are already using, or have enquired about, or may interest you. If you are a registered user, we will contact you by electronic means (e-mail or SMS or telephone or other internet based instant messaging systems) with information about these services;<br />
            To understand our users (what they do on our Services, what features they like, how they use them, etc.), improve the content and features of our Services (such as by personalizing content to your interests), process and complete your transactions, make special offers, provide customer support, process and respond to your queries;<br />
            To generate and review reports and data about, and to conduct research on, our user base and Service usage patterns;<br />
            To allow you to participate in interactive features of our Services, if any;<br /> or
            To measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you.<br />
            If you are a partner restaurant or merchant or delivery partner, to track the progress of delivery or status of the order placed by our customers.<br />
            to carry out academic research with academic partners.
        </p>


        <p>We may combine the information that we receive from third parties with the information you give to us and information we collect about you for the purposes set out above.  Further, we may anonymize and/or de-identify information collected from you through the Services or via other means, including via the use of third-party web analytic tools. As a result, our use and disclosure of aggregated and/or de-identified information is not restricted by this Policy, and it may be used and disclosed to others without limitation.</p>

        <p>We analyse the log files of our Master Food Platform that may contain Internet Protocol (IP) addresses, browser type and language, Internet service provider (ISP), referring, app crashes, page viewed and exit websites and applications, operating system, date/time stamp, and clickstream data. This helps us to administer the website, to learn about user behavior on the site, to improve our product and services, and to gather demographic information about our user base as a whole.</p>

        <p>Disclosure and Distribution of Your Information</p>

        <p>We may share your information that we collect for following purposes:</p>

        <p>With Service Providers: We may share your information with our vendors, consultants, marketing partners, research firms and other service providers or business partners, such as Payment processing companies, to support our business. For example, your information may be shared with outside vendors to send you emails and messages or push notifications to your devices in relation to our Services, to help us analyze and improve the use of our Services, to process and collect payments. We also may use vendors for other projects, such as conducting surveys or organizing sweepstakes for us.</p>

        <p>With Partner Restaurants/Merchant: While you place a request to order food through the Master Food Platform, your information is provided to us and to the restaurants/merchants with whom you may choose to order. In order to facilitate your online food order processing, we provide your information to that restaurant/merchant in a similar manner as if you had made a food order directly with the restaurant. If you provide a mobile phone number, Master Food may send you text messages regarding the order's delivery status.</p>

        <p>With Academic Partners: We may share your information with our academic partners for the purpose of carrying out academic research.</p>

        <p>With Other Users: If you are a delivery partner, we may share your name, phone number and/or profile picture (if applicable), tracking details with other users to provide them the Services.</p>

        <p>
            For Crime Prevention or Investigation: We may share this information with governmental agencies or other companies assisting us, when we are:
            Obligated under the applicable laws or in good faith to respond to court orders and processes;<br /> or
            Detecting and preventing against actual or potential occurrence of identity theft, fraud, abuse of Services and other illegal acts;<br />
            Responding to claims that an advertisement, posting or other content violates the intellectual property rights of a third party;<br />
            Under a duty to disclose or share your personal data in order to enforce our Terms of Use and other agreements, policies or to protect the rights, property, or safety of the Company, our customers, or others, or in the event of a claim or dispute relating to your use of our Services. This includes exchanging information with other companies and organisations for the purposes of fraud detection and credit risk reduction.
        </p>

        <p>For Internal Use: We may share your information with any present or future member of our "Group" (as defined below)or affiliates for our internal business purposes The term "Group" means, with respect to any person, any entity that is controlled by such person, or any entity that controls such person, or any entity that is under common control with such person, whether directly or indirectly, or, in the case of a natural person, any Relative (as such term is defined in the Companies Act, 1956 and Companies Act, 2013 to the extent applicable) of such person.</p>

        <p>With Advertisers and advertising networks: We may work with third parties such as network advertisers to serve advertisements on the Master Food Platform and on third-party websites or other media (e.g., social networking platforms). These third parties may use cookies, JavaScript, web beacons (including clear GIFs), Flash LSOs and other tracking technologies to measure the effectiveness of their ads and to personalize advertising content to you.</p>

        <p>While you cannot opt out of advertising on the Master Food Platform, you may opt out of much interest-based advertising on third party sites and through third party ad networks (including DoubleClick Ad Exchange, Facebook Audience Network and Google AdSense). For more information, visit www.aboutads.info/choices. Opting out means that you will no longer receive personalized ads by third parties ad networks from which you have opted out, which is based on your browsing information across multiple sites and online services. If you delete cookies or change devices, your opt out may no longer be effective.</p>

        <p>
            To fulfill the purpose for which you provide it.<br />
            We may share your information other than as described in this Policy if we notify you and you consent to the sharing.<br />
        </p>



        <h4>DATA SECURITY PRECAUTIONS</h4>

        <p>We have in place appropriate technical and security measures to secure the information collected by us.</p>

        <p>We use vault and tokenization services from third party service providers to protect the sensitive personal information provided by you. The third-party service providers with respect to our vault and tokenization services and our payment gateway and payment processing are compliant with the payment card industry standard (generally referred to as PCI compliant service providers). You are advised not to send your full credit/debit card details through unencrypted electronic platforms. Where we have given you (or where you have chosen) a username and password which enables you to access certain parts of the Master Food Platform, you are responsible for keeping these details confidential. We ask you not to share your password with anyone.</p>

        <p>Please we aware that the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted through the Master Food Platform. Once we have received your information, we will use strict physical, electronic, and procedural safeguards to try to prevent unauthorised access.</p>

        <h4>OPT-OUT</h4>

        <p>When you sign up for an account, you are opting in to receive emails from Master Food. You can log in to manage your email preferences [here] or you can follow the "unsubscribe" instructions in commercial email messages, but note that you cannot opt out of receiving certain administrative notices, service notices, or legal notices from Master Food.</p>

        <p>If you wish to withdraw your consent for the use and disclosure of your personal information in the manner provided in this Policy or you want your data to be deleted, please write to us at support@masterfood.in. Please note that we may take time to process such requests, and your request shall take effect no later than 5 (Five) business days from the receipt of such request, after which we will not use your personal data for any processing unless required by us to comply with our legal obligations. We may not be able offer you any or all Services upon such withdrawal of your consent.</p>

        <h4>GRIEVANCE OFFICER AND MASTER FOOD PLATFORM SECURITY</h4>

        <p>If you have any queries relating to the processing or usage of information provided by you in connection with this Policy, please email us at support@masterfood.in or write to our Grievance Officer at the following address:</p>

        <p>If you come across any abuse or violation of the Policy, please report to grievances@masterfood.in</p>

        <p>Further, please note that the Master Food Platform stores your data with the cloud platform of Amazon Web Services provided by Amazon Web Services, Inc., which may store this data on their servers located outside of India. Amazon Web Services has security measures in place to protect the loss, misuse and alteration of the information, details of which are available at <a href="https://aws.amazon.com/.">https://aws.amazon.com/.</a> The privacy policy adopted by Amazon Web Services are detailed in <a href="https://aws.amazon.com/privacy">https://aws.amazon.com/privacy</a>. In the event you have questions or concerns about the security measures adopted by Amazon Web Services, you can contact their data protection / privacy team / legal team or designated the grievance officer at these organisations, whose contact details are available in its privacy policy, or can also write to our Grievance Officer at the address provided above.</p>

    </dialog>
    <script type="module" src="~/Scripts/navbar.js"></script>
    <script type="module" src="~/Scripts/services.js"></script>
</body>
</html>